
/* loader */


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --c: no-repeat linear-gradient(orange 0 0);
    background:
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c);
    background-size: 16px 16px;
    animation:
        l32-1 1s infinite,
        l32-2 1s infinite;
}

@keyframes l32-1 {

    0%,
    100% {
        width: 45px;
        height: 45px
    }

    35%,
    65% {
        width: 65px;
        height: 65px
    }
}

@keyframes l32-2 {

    0%,
    40% {
        background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%
    }

    60%,
    100% {
        background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%
    }
}

/* animazioni */


.selected,
#play-box {
    animation: entryTitle 1.5s ease;
}

@keyframes entryTitle {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes pulse {

    0%,
    100% {
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.1)
    }

}

@keyframes waveTitle {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

@keyframes fadeBox {

    from {
        opacity: 0;
        transform: translateX(-30%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeTiles {

    from {
        opacity: 0;
        transform: translateX(30%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colorRotate {
    from {
        color: rgb(64, 11, 144);
    }

    10% {
        color: #9000ff;
    }

    20% {
        color: #0073ff;
    }

    30% {
        color: #15a4a7;
    }

    40% {
        color: #20be45;
    }

    50% {
        color: #fff566;
    }

    60% {
        color: #f4ac28;
    }

    70% {
        color: #f48028;
    }

    80% {
        color: #f44a28;
    }

    90% {
        color: #f42828;
    }

    100% {
        color: #f4287d;
    }
}