*{
    font-family:'Pixelify Sans', Courier, monospace;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-white: white;
    --color-dark-bg : rgb(48, 48, 48);
    --color-dark-grey: rgb(63, 63, 63);
    --color-start: rgb(51, 92, 188);
    --color-start-clicked: rgb(31, 56, 114);
    --color-reset: tomato;
    --color-reset-clicked: rgb(185, 71, 51);
    --color-easy: rgb(20, 215, 20);
    --color-easy-clicked: green;
    --color-medium: orange;
    --color-medium-clicked: rgb(202, 136, 14);
    --color-hard: rgba(255, 0, 0, 0.833);
    --color-hard-clicked: rgba(159, 4, 4, 0.833);
}

body{
    background-image: url('../img/puzzle-bg4.jpg');
    background-size:contain;
    color: var(--color-white)
}

#top-board,
#choice-image{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#title{
    font-weight: 600;
    font-size: 6rem;
    padding-bottom: 1.5rem;
    text-align:center;

}

#title span{
    display: inline-block;
    animation: waveTitle 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

#title .letter:nth-child(n):empty {
    width: 0.5em;
    animation: none;
}

#instruct{
    display:none;
    padding: 3rem 0;
}

#instruct > h3{
    font-size: 3rem;
    padding-bottom: 1.2rem;
}

#instruct > ul{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#instruct > ul li{
    padding-bottom: 1rem;
}

.spacing{
    padding-bottom: 1.2rem;
    font-size: 18px;
}

.text{
    font-size: 18px;
}

#choice{
    display: none;
    font-size: 18px;
    padding-bottom: 3rem;
    font-size: 25px;
}

.box-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
    gap: 3rem;
}

.btn-start{
    background-color: var(--color-start);
    box-shadow: 0 8px var(--color-start-clicked);
}

.btn-start:active{
    background-color: var(--color-start-clicked);
    box-shadow: 0 5px var(--color-white);
    transform: translateY(4px);
}

.btn-reset{
    background-color: var(--color-reset);
    box-shadow: 0 9px var(--color-reset-clicked);
}

.btn-reset:active{
    background-color: var(--color-reset-clicked);
    box-shadow: 0 5px var(--color-white);
    transform: translateY(4px);
}

.btn,
.btn-mode{
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    color: var(--color-white);
    
}

.btn{
    padding: 15px 25px;
}

.btn-mode{
    padding: 1.5rem 3rem;
    width: 100%;
}

#reset,
#easy,
#medium,
#hard {
    display: none;
}

#play,
#easy,
#medium,
#hard{
    font-size: 25px;
}

#reset{
    font-size: 20px;
}

#easy {
    background-color: var(--color-easy);
    box-shadow: 0 8px var(--color-easy-clicked);
}

#easy:active {
    background-color: var(--color-easy-clicked);
    box-shadow: 0 5px var(--color-white);
    transform: translateY(4px);
}

#medium {
    background-color: var(--color-medium);
    box-shadow: 0 8px var(--color-medium-clicked);
}

#medium:active {
    background-color: var(--color-medium-clicked);
    box-shadow: 0 5px var(--color-white);
    transform: translateY(4px);
}

#hard {
    background-color: var(--color-hard);
    box-shadow: 0 8px var(--color-hard-clicked);
}

#hard:active {
    background-color: var(--color-hard-clicked);
    box-shadow: 0 5px var(--color-white);
    transform: translateY(4px);
}

#level-description{
    display:none;
    justify-content: space-between;
    padding-top: 1.5rem;
    gap: 4rem;
    font-size: 21px;
}

.card-desc > ul{
    padding-left: 1rem;
}

.card-desc{
    width: calc(100% / 3)
}

#guide{
    display: none;
    padding-bottom: 1.5rem;
}

#guide p{
    text-align: left;
    margin: 0 auto;
    width: 90%;
    font-size: 22px;
}

#container{
    width: 70%;
    height: 661px; 
    background-color: var(--color-dark-bg);
    box-shadow: 1px 2px 4px 2px rgba(121, 121, 121, 0.2);
    margin: 2rem auto;
    border-radius: 20px;
    position: relative;
}

#puzzle-box{
    padding: 2.5rem 0;
    margin: 0 auto;
    width: 85%;
}

#puzzle-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 500px; */
    gap: 5px;
    margin: 1rem 0;
}

.game-box-large{
    width: 500px;
}

.game-box-small{
    width: 450px;
}

#tiles-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 400px; */
    gap: 5px;
    margin: 1rem 0;
}

.tile-box-large{
    width: 400px;
}

.tile-box-small {
    width: 380px;
}

.tiles-drag,
.color-tiles{
    background-color: var(--color-dark-grey);
}

.dimension-large {
    width: 100px;
    height: 100px;
}

.dimension-small {
    width: 50px;
    height: 50px;
}

.tile-large{
    width: 80px;
    height: 80px;
}

.tile-small{
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
    object-fit: cover;
}

#message-box{
    display: none;
    height: 70%;
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s ease-in-out;
}

.show{
    display: block;
}

#container-puzzle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#wrap-image{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-img{
    width: calc(100% / 3);
}

.card-img img{
    border-radius: 15px;
    object-fit: cover;
    cursor:pointer;
    transition: ease 0.3s;
}

.card-img img:hover{
    transform: scale(1.1);
    
}

#text-img{
    display: none;
    font-size: 18px;
    padding-bottom: 1.5rem;
    font-size: 25px;
    text-align: center;
}

#time{
    display: none;
    padding: 1rem 0;
    font-size: 20px;
}

/* animazioni */

.selected,
#play-box{
    animation: entryTitle 0.6s ease;  
}



@keyframes entryTitle {
    from{
        opacity: 0;
        transform: translateY(100%)
        
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes waveTitle {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

